torch
torchvision

# # CIFAR-10 download
# kaggle
# py7zr

triton==2.0.0.dev20221120; sys.platform == "darwin" and platform.machine == 'arm64'
triton; sys.platform != "darwin" and platform.machine != 'arm64'
gdown